<!doctype html>
<html>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Captain</title>
    <link rel="stylesheet" type="text/css" href="/learn_english/static/semantic/semantic.css">
    <script src="/learn_english/static/semantic/semantic.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <script>
        $(document)
            .ready(function () {
                $('.ui.selection.dropdown').dropdown();
                $('.ui.menu .ui.dropdown').dropdown({
                    on: 'hover'
                });
            })
            ;
    </script>
    <style type="text/css">
        /*body {*d
            /*text-align: center;*/

        /*}*/

        .one_line input {
            float: left;
        }

        .wordlist.shortlisting {
            font-size: .9em;
        }

        .wordlist.shortlisting .title {
            font-size: 1.1em;
        }

        .small-article-container {
            margin-top: 1em;
        }

        .small-article {
            /*  padding: 0;
            */
            margin-bottom: 1em;
            padding-right: 0.5em;
            padding-left: 0.5em;
            /*  float: right;*/
        }

        .small-category {
            padding: 0;
            font-size: 0.9em;
        }

        .small-article-img {
            padding: 0;
            width: 100%;
        }

        .small-article-date {
            padding: 0;
            padding-top: 0.5em;
            font-size: 0.9em;
            color: #545454;
        }

        .small-title {
            padding: 0;
            line-height: 1.3em;
            font-size: 1em;
            text-transform: uppercase;
        }

        .small-excerpt {
            padding: 0;
            font-size: 0.9em;
        }
        body {
            background-image: url("/learn_english/static/images/cloud-snowing-house.jpg");
            background-attachment: fixed;
            background-repeat: jepeat-both;
            background-repeat: repeat space;
            background-repeat: repeat repeat;
            background-repeat: round space;
            background-size: 100% 100%;
            background-size: cover;
            background-position: center center;  /*no zoom in*/
        }
    </style>
</head>

<body>

    <!--Words Collection-->
    <div class="ui divider"></div>
    <center>
        <p style="font-size:26px" class="ui huge label">Words Collection From Kindle And Computer Clipboard</p>
    </center>
    <br>
    <div class="one_line" style="margin: 0 auto; width: 180px; text-align: center;">
        <form class="ui form" action="http://127.0.0.1:9527/learn_english/month_list" method="post">
            {% for year in year_lst %}
            <div class="ui action">
                <input class="ui primary button" type="submit" name={{year}} value={{year}}>
            </div>
            {% endfor %}
        </form>
    </div>
    <br>
    <br>
    <div class="ui divider"></div>

    <!--Vocabulary Lists-->
    <center>
        <p style="font-size:26px" class="ui huge label">Vocabulary Lists Fetched From Vocabulary.com</p>
    </center>
    <br>

    <div style='margin-top:0.5cm;margin-left:2cm;margin-right:2cm;'>
        <div class="row">
            <div class="col-md-12 small-article-container">
                <!-- Small articles container -->
                {% if 'featured' in all_vocabulary_lists%}
                <p style="font-size:17px" class="ui huge label">
                    <span class="glyphicon glyphicon-star"></span> Featured Lists: </p>
                <div class="ui divider"></div>
                {% for list_name in all_vocabulary_lists['featured']%}
                <div class="wordlist shortlisting">
                    <div class="col-md-3 small-article">
                        <!-- Start small article -->
                        <div class="col-md-12 small-title">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/featured/{{list_name}}">
                                <strong>{{list_name}}</strong>
                            </a>
                        </div>
                        <div class="rescription" style="font-size: 14px;">
                            {{ all_vocabulary_lists['featured'][list_name]['list_brief_description'] }}
                        </div>
                        <div class="col-md-12 small-category">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/featured/{{list_name}}">
                                <strong>{{all_vocabulary_lists['featured'][list_name]['list_num']}}
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </strong>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 small-article-container">
                <!-- Small articles container -->
                {% if 'top-rated' in all_vocabulary_lists%}
                <p style="font-size:17px" class="ui huge label">
                    <span class="glyphicon glyphicon-heart"></span> Top Rated Lists: </p>
                <div class="ui divider"></div>
                {% for list_name in all_vocabulary_lists['top-rated']%}
                <div class="wordlist shortlisting">
                    <div class="col-md-3 small-article">
                        <!-- Start small article -->
                        <div class="col-md-12 small-title">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/top-rated/{{list_name}}">
                                <strong>{{list_name}}</strong>
                            </a>
                        </div>
                        <div class="rescription" style="font-size: 14px;">
                            {{ all_vocabulary_lists['top-rated'][list_name]['list_brief_description'] }}
                        </div>
                        <div class="col-md-12 small-category">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/top-rated/{{list_name}}">
                                <strong>{{all_vocabulary_lists['top-rated'][list_name]['list_num']}}
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </strong>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 small-article-container">
                <!-- Small articles container -->
                {% if 'test-prep' in all_vocabulary_lists%}
                <p style="font-size:17px" class="ui huge label">
                    <span class="glyphicon glyphicon-pencil"></span> Test Prep:&nbsp;&nbsp;
                    <a style="float:right;" href="http://127.0.0.1:9527/learn_english/vocabulary_list/test-prep">All Test Prep
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </p>
                <div class="ui divider"></div>
                {% for list_name in all_vocabulary_lists['test-prep']%}
                <div class="wordlist shortlisting">
                    <div class="col-md-3 small-article">
                        <!-- Start small article -->
                        <div class="col-md-12 small-title">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/test-prep/{{list_name}}">
                                <strong>{{list_name}}</strong>
                            </a>
                        </div>
                        <div class="rescription" style="font-size: 14px;">
                            {{ all_vocabulary_lists['test-prep'][list_name]['list_brief_description'] }}
                        </div>
                        <div class="col-md-12 small-category">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/test-prep/{{list_name}}">
                                <strong>{{all_vocabulary_lists['test-prep'][list_name]['list_num']}}
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </strong>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 small-article-container">
                <!-- Small articles container -->
                {% if 'literature' in all_vocabulary_lists%}
                <p style="font-size:17px" class="ui huge label">
                    <span class="glyphicon glyphicon-leaf"></span> Literature:&nbsp;&nbsp;
                    <a style="float:right;" href="http://127.0.0.1:9527/learn_english/vocabulary_list/literature">All Literature
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </p>
                <div class="ui divider"></div>
                {% for list_name in all_vocabulary_lists['literature']%}
                <div class="wordlist shortlisting">
                    <div class="col-md-3 small-article">
                        <!-- Start small article -->
                        <div class="col-md-12 small-title">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/literature/{{list_name}}">
                                <strong>{{list_name}}</strong>
                            </a>
                        </div>
                        <div class="rescription" style="font-size: 14px;">
                            {{ all_vocabulary_lists['literature'][list_name]['list_brief_description'] }}
                        </div>
                        <div class="col-md-12 small-category">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/literature/{{list_name}}">
                                <strong>{{all_vocabulary_lists['literature'][list_name]['list_num']}}
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </strong>
                            </a>

                        </div>
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 small-article-container">
                <!-- Small articles container -->
                {% if 'morphology-and-roots' in all_vocabulary_lists%}
                <p style="font-size:17px" class="ui huge label">
                    <span class="glyphicon glyphicon-paperclip"></span> Morphology & Roots:&nbsp;&nbsp;
                    <a style="float:right;" href="http://127.0.0.1:9527/learn_english/vocabulary_list/morphology-and-roots">All Morphology & Roots
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </p>
                <div class="ui divider"></div>
                {% for list_name in all_vocabulary_lists['morphology-and-roots']%}
                <div class="wordlist shortlisting">
                    <div class="col-md-3 small-article">
                        <!-- Start small article -->
                        <div class="col-md-12 small-title">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/morphology-and-roots/{{list_name}}">
                                <strong>{{list_name}}</strong>
                            </a>
                        </div>
                        <div class="rescription" style="font-size: 14px;">
                            {{ all_vocabulary_lists['morphology-and-roots'][list_name]['list_brief_description'] }}
                        </div>
                        <div class="col-md-12 small-category">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/morphology-and-roots/{{list_name}}">
                                <strong>{{all_vocabulary_lists['morphology-and-roots'][list_name]['list_num']}}
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </strong>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 small-article-container">
                <!-- Small articles container -->
                {% if 'historical-documents' in all_vocabulary_lists%}
                <p style="font-size:17px" class="ui huge label">
                    <span class="glyphicon glyphicon-tree-deciduous"></span> Historical Documents:&nbsp;&nbsp;
                    <a style="float:right;" href="http://127.0.0.1:9527/learn_english/vocabulary_list/historical-documents">All Historical Documents
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </p>
                <div class="ui divider"></div>
                {% for list_name in all_vocabulary_lists['historical-documents']%}
                <div class="wordlist shortlisting">
                    <div class="col-md-3 small-article">
                        <!-- Start small article -->
                        <div class="col-md-12 small-title">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/historical-documents/{{list_name}}">
                                <strong>{{list_name}}</strong>
                            </a>
                        </div>
                        <div class="rescription" style="font-size: 14px;">
                            {{ all_vocabulary_lists['historical-documents'][list_name]['list_brief_description'] }}
                        </div>
                        <div class="col-md-12 small-category">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/historical-documents/{{list_name}}">
                                <strong>{{all_vocabulary_lists['historical-documents'][list_name]['list_num']}}
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </strong>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 small-article-container">
                <!-- Small articles container -->
                {% if 'speeches' in all_vocabulary_lists%}
                <p style="font-size:17px" class="ui huge label">
                    <span class="glyphicon glyphicon-bullhorn"></span> Speeches:&nbsp;&nbsp;
                    <a style="float:right;" href="http://127.0.0.1:9527/learn_english/vocabulary_list/speeches">All Speeches
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </p>
                <div class="ui divider"></div>
                {% for list_name in all_vocabulary_lists['speeches']%}
                <div class="wordlist shortlisting">
                    <div class="col-md-3 small-article">
                        <!-- Start small article -->
                        <div class="col-md-12 small-title">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/speeches/{{list_name}}">
                                <strong>{{list_name}}</strong>
                            </a>
                        </div>
                        <div class="rescription" style="font-size: 14px;">
                            {{ all_vocabulary_lists['speeches'][list_name]['list_brief_description'] }}
                        </div>
                        <div class="col-md-12 small-category">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/speeches/{{list_name}}">
                                <strong>{{all_vocabulary_lists['speeches'][list_name]['list_num']}}
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </strong>
                            </a>


                        </div>
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 small-article-container">
                <!-- Small articles container -->
                {% if 'just-for-fun' in all_vocabulary_lists%}
                <p style="font-size:17px" class="ui huge label">
                    <span class="glyphicon glyphicon-ice-lolly-tasted"></span> Just for Fun:&nbsp;&nbsp;
                    <a style="float:right;" href="http://127.0.0.1:9527/learn_english/vocabulary_list/just-for-fun">All Just for Fun
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </p>
                <div class="ui divider"></div>
                {% for list_name in all_vocabulary_lists['just-for-fun']%}
                <div class="wordlist shortlisting">
                    <div class="col-md-3 small-article">
                        <!-- Start small article -->
                        <div class="col-md-12 small-title">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/just-for-fun/{{list_name}}">
                                <strong>{{list_name}}</strong>
                            </a>
                        </div>
                        <div class="rescription" style="font-size: 14px;">
                            {{ all_vocabulary_lists['just-for-fun'][list_name]['list_brief_description'] }}
                        </div>
                        <div class="col-md-12 small-category">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/just-for-fun/{{list_name}}">
                                <strong>{{all_vocabulary_lists['just-for-fun'][list_name]['list_num']}}
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </strong>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 small-article-container">
                <!-- Small articles container -->
                {% if 'news' in all_vocabulary_lists%}
                <p style="font-size:17px" class="ui huge label">
                    <span class="glyphicon glyphicon-folder-open"></span> News:&nbsp;&nbsp;
                    <a style="float:right;" href="http://127.0.0.1:9527/learn_english/vocabulary_list/news">All News
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </p>
                <div class="ui divider"></div>
                {% for list_name in all_vocabulary_lists['news']%}
                <div class="wordlist shortlisting">
                    <div class="col-md-3 small-article">
                        <!-- Start small article -->
                        <div class="col-md-12 small-title">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/news/{{list_name}}">
                                <strong>{{list_name}}</strong>
                            </a>
                        </div>
                        <div class="rescription" style="font-size: 14px;">
                            {{ all_vocabulary_lists['news'][list_name]['list_brief_description'] }}
                        </div>
                        <div class="col-md-12 small-category">
                            <a href="http://127.0.0.1:9527/learn_english/vocabulary/news/{{list_name}}">
                                <strong>{{all_vocabulary_lists['news'][list_name]['list_num']}}
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </strong>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %} {% endif %}
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

</body>

</html>