<!DOCTYPE html>
<html xmlns:vcom xmlns:fb>
<head>
    <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>Captain</title>
    <link rel="stylesheet" type="text/css" href="/learn_english/static/semantic/semantic.css">
    <script src="/learn_english/static/semantic/semantic.js"></script>


  <script>
  $(document)
    .ready(function() {
      $('.ui.selection.dropdown').dropdown();
      $('.ui.menu .ui.dropdown').dropdown({
        on: 'hover'
      });
    })
  ;
  </script>
    <style type="text/css">
        * {
             font-size: 101%;
             font-family: Avenir;
        }
    </style>
</head>
   <body style='margin-top:0.5cm;margin-left:2cm;margin-right:2cm;'>
        <form class="ui form" action="http://127.0.0.1:9527/learn_english/" method="post">
            <div class="ui action">
                <input class="ui compact orange tiny button" type="submit" name='' value="go home page">
            </div>
        </form>

       <div style="text-align: center;fontgfamily:Open Sans; font-size: 45px;">
           <p style="font-size: 20px;">Vocabulary Lists</p>
           <p style="font-size: 45px;">{{ category_name_for_show }}</p>
       </div>
       <div class="ui divider"></div>

       {% for list_name, list_info in list_data.iteritems() %}
            <a style="font-family:Avenir; font-size: 25px;" href="http://127.0.0.1:9527/learn_english/vocabulary/{{ category_name }}/{{ list_name }}"><strong>{{list_name}}</strong></a>

            <div style="font-size: 16px;">
                {{ list_info['list_detailed_description'] }}
            </div>
            <a href="http://127.0.0.1:9527/learn_english/vocabulary/{{ category_name }}/{{ list_name }}"><strong>{{ list_info['list_num'] }}<span class="glyphicon glyphicon-chevron-right"></span></strong></a>
            <div class="ui divider"></div>
            <br>
       {% endfor %}
   </body>
</html>
