<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        html {
            text-align: center;
        }
    </style>
</head>
   <body>
   <p>✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌from word builder✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌✌</p>
      <table border = 1>
           <form action = "http://localhost:5000/words_list" method = "post">
                {% for week in week_list_from_word_builder %}
                    <input type="submit" name=0-{{ year }}-{{ week }} value={{ year }}-{{ week }}>
                {% endfor %}
           </form>
      </table>
   <p>⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺from clipboard⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺⛺</p>
       <table border = 1>
               <form action = "http://localhost:5000/words_list" method = "post">
                    {% for week in week_list_from_clipboard %}
                        <input type="submit" name=1-{{ year }}-{{ week }} value={{ year }}-{{ week }}>
                    {% endfor %}
               </form>
       </table>
   </body>
</html>