<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        p {
            white-space: pre-wrap;
        }

        h2 {
            text-align: center;
        }
        h3 {
            text-align: center;
        }
    </style>
</head>
   <body>
    {% if come_from == '0' %}
    <p> ☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘from vocabulary builder☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘</p>
    {% endif %}

    {% if come_from == '1' %}
    <p> ⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱from clipboard ⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱</p>
    {% endif %}

    <form action = "http://localhost:5000/year_list" method = "post">
        <input type="submit" name='' value="year list">
    </form>
    <form action = "http://localhost:5000/week_list" method = "post">
        <input type="submit" name={{ y }} value="week list">
    </form>

    <h3>-----------------------------------------------------------------------------------------------------------------------------------------------------------------</h3>
    <h2>Vocabulary List of Current Page</h2>
    <h3>
    {% for word, meaning in result.iteritems() %}
        {{word}}
    {% endfor %}
    </h3>
    <h3>-----------------------------------------------------------------------------------------------------------------------------------------------------------------</h3>

    <p> page index: {{ page_index }}</p>
      {% for i in range(button_num) %}
        <form action = "http://localhost:5000/specified_page" method = "post">
            <input type="submit" name= {{ come_from }}-{{ y }}-{{ w }}-{{ i }} value={{ y }}-{{ w }}-{{ i }}>
        </form>
        {% endfor %}
        <table border = 1>
          {% for word, meaning in result.iteritems() %}
            <tr><th>
                <form action = "http://localhost:5000/delete" method = "post">
                    {{ word }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" name= {{ come_from }}-{{ y }}-{{ w }}-{{ page_index }}-{{ word }} value="delete">
                </form>
            </th></tr>
            {#basic#}
                {% if 'basic' in meaning%}
                    <tr><td> {{ 'basic' }}: <p>{{ meaning['basic'] }} </p></td></tr>
                {% endif %}

                {#book#}
                {% if 'book' in meaning%}
                <tr><td> {{ 'book'}}: <p>{{ meaning['book']}} </p></td></tr>
                {% endif %}

                {#usage#}
                {% if 'usage' in meaning%}
                <tr><td> {{ 'usage'}}: <p>{{ meaning['usage']}} </p></td></tr>
                {% endif %}

                {#phrase#}
                {% if 'phrase' in meaning%}
                <tr><td> {{ 'phrase'}}: <p>{{ meaning['phrase']}} </p></td></tr>
                {% endif %}

                {#synonyms#}
                {% if 'synonyms' in meaning%}
                <tr><td> {{ 'synonyms'}}: <p>{{ meaning['synonyms']}} </p></td></tr>
                {% endif %}

                {#rel_word_tab#}
                {% if 'rel_word_tab' in meaning%}
                <tr><td> {{ 'rel_word_tab'}}: <p>{{ meaning['rel_word_tab']}} </p></td></tr>
                {% endif %}

                {#discriminate#}
                {% if 'discriminate' in meaning%}
                <tr><td> {{ 'discriminate'}}: <p>{{ meaning['discriminate']}} </p></td></tr>
                {% endif %}

                {#collins#}
                {% if 'collins' in meaning%}
                <tr><td> {{ 'collins'}}: <p>{{ meaning['collins']}} </p></td></tr>
                {% endif %}

                {#date#}
                {% if 'date' in meaning%}
                <tr><td> {{ 'date'}}: <p>{{ meaning['date']}} </p></td></tr>
                {% endif %}
            {% endfor %}
      </table>
      {% for i in range(button_num) %}
        <form action = "http://localhost:5000/specified_page" method = "post">
            <input type="submit" name= {{ come_from }}-{{ y }}-{{ w }}-{{ i }} value={{ y }}-{{ w }}-{{ i }}>
        </form>
      {% endfor %}

      <p> page index: {{ page_index }}</p>

        <form action = "http://localhost:5000/year_list" method = "post">
            <input type="submit" name='' value="year list">
        </form>
        <form action = "http://localhost:5000/week_list" method = "post">
            <input type="submit" name={{ y }} value="week list">
        </form>

      {% if come_from == '0' %}
      <p> ☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘from vocabulary builder☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘</p>
      {% endif %}

      {% if come_from == '1' %}
      <p> ⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱from clipboard ⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱⛱</p>
      {% endif %}

   </body>
</html>