<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        html {
            text-align: center;
        }
    </style>
</head>
   <body>
      <table border = 1>
          <h2>Winter is Coming. —from House Stark</h2>

          <p> ☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘</p>
           <form action = "http://localhost:5000/week_list" method = "post">
                {% for year in year_lst %}
                    <input type="submit" name={{ year }} value={{ year }}>
                {% endfor %}
           </form>
          <p> ☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘☘</p>
      </table>
   </body>
</html>